/*** VSCodeEDU preview fix 

  Purpose:
  - Fix VSCodeEDU issue that causes a white border to show around
    the preview window

  When To Modify:
  - If you change the background color of your webpage, you may need to update this rule too.
***/
html {
    background-color: var(--bg-color);
}

/*** body ***
  
  Purpose:
  - Add style rules for the body of your webpage
  - This is useful if you want a rule to apply to EVERYTHING on your page
    - (Tip: You can always override these rules later in the stylesheet)

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [X] Any time after
***/

body {
    /* Add a background color or image */
    background-color: var(--bg-color);
    /* see bottom of file for color variables */

    /* Customize the default size, color, and font for text*/
    font-size: 16px;
    color: var(--text-color);
    font-family: Minecraft, sans-serif;
    /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */

    /* Put space around the edges of the webpage */
    padding: 50px;
    margin: 0;
}

/*** Text ***
  
  Purpose: 
  - Add style rules for headings (h1-6),
    paragraphs (p), links (a), and buttons

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [X] Any time after
***/

h1 {
    color: #32150D;
    font-size: xxx-large;
    font-weight: bolder;
    background-color: #8F592C;
    border: solid .25rem #32150D;
    padding: 5rem;
    text-align: center;
}

h2 {
  margin-top: 5rem;
  color: rgb(66, 23, 106);
}

h3 {
  color: #231942;
}

h4 {
  color: blueviolet;
}

p {
  color: #32150D;
}

a,
a * {
  text-shadow: 2px 2px turquoise;
  text-decoration: underline;
}

a:visited * {
  color: navy ;
  text-shadow: 2px 2px cornflowerblue;
}

button {
    /* Example Style, replace with your own! */
    background-color: #8F592C;     /* button color */
    color: #32150D;     /* text color */
    border: none;     /* hides the default border */
    padding: 5px 12px;     /* space between button's text and edge */
    border-radius: 5px;     /* curved edges instead of square */
    cursor: pointer;     /* makes the cursor change when over button */
    width: fit-content;
    font-family: "Minecraft";
    font-size: larger;
}

button:hover {
    /* Make the button look different when the user hovers over it */
    background-color: #451D0F;
    color: #8F592C;
}

.listItem-container {
  padding: 2rem;
  min-width: fit-content;
  border: double 1rem black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
  background-color: silver;
}

/*** header ***
  
  Purpose:
  - Add style rules for your website's header section

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [X] Project 4 (REQUIRED FEATURE) 
  - [X] Any time after
***/

.header-container {
    /* Example A: This styles elements with class="header" */
    margin-top: 5rem;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

#header-img {
  width: 100px;
  height: 100px;
}

/*** footer ***
  
  Purpose:
  - Add style rules for your website's footer section

  When To Modify:
  - [X] Project 3 (STRETCH FEATURE) 
  - [X] Any time after
***/

.footer {
    /* Example B: This styles elements with class="footer" */
    padding: 0.5rem 5rem;
    color: #8F592C;
    background-color: #451D0F;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: -50px; /* To ignore the body's marign and make it stuck in a fixed position */
}

/*** Navigation bar (navbar) ***
  
  Purpose:
  - Add style rules for your website's navbar

  When To Modify:
  - [X] Project 4 (REQUIRED FEATURE) 
  - [X] Any time after
***/

.navbar ul {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;  /* Ensures the navbar is on top of other elements */
  position: fixed;
  background-color: #281c44;
  padding: 1rem;
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
}

.navbar ul li {
  float: left;
  margin: 10px;
}

.navbar ul li a {
  display: block;
  text-decoration: none;
  color: turquoise;
  text-shadow: none;
}

.navbar ul li a:hover {
  color: white;
  text-decoration: underline;
}

/*** About Section ***
  
  Purpose:
  - Add style rules for your website's About section

  When To Modify:
  - [X] Project 3 (OPTIONAL)
  - [X] Project 4 (STRETCH FEATURE) 
  - [X] Any time after
***/
.warning {
  color:crimson;
  text-decoration: underline;
  font-weight: bold;
}


/*** Schedule Section ***
  
  Purpose:
  - Add style rules for your website's Schedule section

  When To Modify:
  - [X] Project 3 (OPTIONAL)
  - [X] Project 4 (STRETCH FEATURE) 
  - [X] Any time after
***/


/*** Links Section ***
  
  Purpose:
  - Add style rules for your website's Links section

  When To Modify:
  - [X] Project 3 (OPTIONAL)
  - [X] Project 4 (STRETCH FEATURE) 
  - [X] Any time after
***/


/*** RSVP Section ***
  
  Purpose:
  - Add style rules for your website's RSVP form

  When To Modify:
  - [X] Project 6 (REQUIRED FEATURE)
  - [X] Project 7 (REQUIRED FEATURE)
  - [X] Any time after
***/

.rsvp-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  width: 100%;
  padding-bottom: 5rem;
}

.rsvp-para {
  width: 55%;
  padding-right: 2rem;
}

.rsvp-participants {
  width: 45%;
  padding-right: 2rem;
}

.form-container {
  display: flex;
  margin: 2rem 0;
  gap: 3rem;
  align-items: center;
}

/* Add other rsvp-related selectors here */
.error {
  border-style: solid;
  border-width: 2px;

  /* Set border-color and background */
  border-color: var(--error-color-border);
  background-color: var(--error-color);
}

/*** Animations [PLACEHOLDER] [ADDED IN UNIT 8] ***/

/*** Success Modal  ***
  
  Purpose:
  - Add style rules to your website's pop-up modal, which appears
    when a user successfully submits the RSVP form

  When To Modify:
  - [X] Project 9 (REQUIRED FEATURE)
  - [X] Any time after
***/

.modal {
  display: flex;
  /* modal should be hidden by default*/
  position: fixed;
  /* modal cannot move around the screen */
  z-index: 10000;
  /* modal appears above other elements */

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /* Add a semi-transparent background to shadow non-modal elements*/
  background-color: rgba(0, 0, 0, 0.4);
  /* 40% opacity black */

  /* Flexbox settings for modal */
  /* These won't apply until we update "display:" from "hidden" to "flex" in our JS */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container {
  /* Change modal size and spacing here */
  padding: 50px;
  width: 55%;
  height: 55%;

  /* Customize modal style here */
  background-color: lightsteelblue;
  color: black;
  text-align: center;
  font-size: 2rem;
  font-family: monospace;

  /* Optional: Use flexbox to customize .modal-item layout */
  display: flex;
  justify-content: space-evenly;

}

.modal-item {
  /* Optional: Style individual elements within the modal */
  height: 75%;
}


/* Default dark mode style */
.dark-mode {
  background-color: var(--bg-color-dark-mode);
}

.dark-mode ul {
  background-color: var(--bg-color);
}

/* Example: Different dark mode style for h1 */
.dark-mode h1, .dark-mode h2, .dark-mode h3 {
  color: white;
}

.dark-mode p {
  color: #a6a0cf;
}

.dark-mode label {
  color: #a6a0cf;
  text-shadow: 2px 2px black;
}

.dark-mode a * {
  color: cornflowerblue;
  text-shadow: 2px 2px black;
}

/* Example: Different dark mode style for visited links */
.dark-mode a:visited * {
  color: #684fb5;
  text-shadow: 2px 2px black;
}

#theme-button {
  background-color: #684fb5;
  color: aliceblue;
  border: double 5px silver;
  text-decoration: underline;
}

#theme-button:hover {
  background-color: #8F592C;
  color: cyan;
  font-weight: 700;
}


/*** Custom Colors (OPTIONAL) ***
  
  Purpose:
  - Use CSS variables to define custom colors for your website
  - To get you started, we've provided the color scheme used in our example site.
  - To reference a color variable in your css, use var(--variable-name) in place of a color value

  When To Modify:
  - [X] Any time (OPTIONAL)
***/

:root {
    /* Light Mode */
    --bg-color: #a6a0cf;
    --text-color: #231942;

    /* Dark Mode */
    --bg-color-dark-mode: #231942;
    --text-color-dark-mode: #fff;

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}